.form{
    padding: 2vw;
    border:5px solid #53565A;
}
span, input, button{
    margin: 10px;
}
.results{
    border:5px solid #53565A;
}
.results h2{
    padding-top:10px;
    text-align: center;
}
.result{
    padding:5px;
}
.result img{
    display: block;
    margin-left: auto;
    margin-right:auto;
}
.pageButton{
    padding-left: 35%;
}